<div class="blog-item" data-id="1">
    <h2>Jazzavond in voorbereiding</h2>
    <p class="datum">10 maart 2026</p>
    <p class="inhoud">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>

<div class="blog-item" data-id="2">
    <h2>Nieuwe trompet binnen!</h2>
    <p class="datum">12 maart 2026</p>
    <p class="inhoud">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>

<div class="blog-item" data-id="3">
    <h2>Workshop improvisatie</h2>
    <p class="datum">15 maart 2026</p>
    <p class="inhoud">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
</div>

<div class="blog-item" data-id="4">
    <h2>Optreden leerlingen</h2>
    <p class="datum">20 maart 2026</p>
    <p class="inhoud">Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
</div>

<div class="blog-item" data-id="5">
    <h2>Nieuwe lessen gestart</h2>
    <p class="datum">25 maart 2026</p>
    <p class="inhoud">Excepteur sint occaecat cupidatat non proident.</p>
</div>