<!DOCTYPE html>
<html>
<head>
    <title>Beheer Blog</title>
    <link rel="stylesheet" href="style/blog.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>

    <script src="js/blog.js" defer></script>
</head>
<body>

<h1>Nieuw Blogartikel</h1>

<form id="blogForm">
    <label>Titel:</label>
    <input type="text" id="titel"><br>

    <label>Datum:</label>
    <input type="text" id="datum"><br>

    <label>Inhoud:</label>
    <textarea id="inhoud"></textarea><br>

    <button type="submit">Toevoegen</button>
</form>

<div id="melding"></div>

</body>
</html>